{% extends 'main.html' %}

{% block title %}
    Rooms - messages
{% endblock %}
{% block content %}

    <h1>{{ room }}</h1>
    <div class="box">{{ room.description }}</div>

    {% if perms.base.add_message %}
        <div class="box room__message">

                <form method="post">
                    {% csrf_token %}
                    <input name="body_message" placeholder="Write your message here...">
                </form>

        </div>
    {% endif %}


        {% for message in messages %}
            <div class="box"></div>
            {% if user == message.user %}
                <div style="float: right;"><b>{{ message.user }}</b> <i>[{{ message.created }}]</i></div>
                <div class="message" style="float: right; background-color: #e16060; color: white;">{{ message.id }} - {{ message.body }}</div>
            {% else %}
                <div style="float: left;"><b>{{ message.user }}</b> <i>[{{ message.created }}]</i></div>
                <div class="message" style="float: left;">{{ message.id }} - {{ message.body }}</div>
            {% endif %}

        {% endfor %}



{% endblock %}