{% extends 'main.html' %}

{% block title %}
    Formulár
{% endblock %}
{% block content %}
<div class="box">
<h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="box">
            <label for="{{ form.name.id_for_label }}">Room name:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="box">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <button type="submit">Submit</button>
        {#ALTERNATIVNE: <input type="submit" value="Submit">         #}

    </form>
</div>

{% endblock %}